.invitados {
    margin: var(--margins);
    background: var(--background-color);
    h2{
        margin-top: 50px;
    }
    .image {
        width: 100%;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
    }
    .img-1 img{
        width: 100%;
    }
    .img-2 img{
        width: 100%;
    }
    .img-3 img{
        width: 100%;
    }
    .img-4 img{
        width: 100%;
    }
    .img-5 img{
        width: 100%;
    }
    .img-6 img{
        width: 100%;
    }
}