.intro-section {
    margin: 20px var(--margins);
    background: var(--background-color);
    h2 .punto {
        border-radius: 50%;
        color: #0000FF;
    }
    p {
        margin-bottom: 36px;
    }
}