.de-donde-venimos {
    width: 100%;
    margin: var(--margins);
    .img-origin {
        width:calc(100% - 16px);
        z-index: 3;
        // position: relative;
        // top: -150px;
        img {
            width: 100%;
            // position: relative;
            // top: -150px;
        }
    }
    .text {
        padding-right: 16px;
    }
} 
