.otros-temas {
    background-color: var(--background-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: var(--margins);
    margin-top: 50px;
}
.box-temas {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 50px;
    h3 {
        width: 244px;
        text-align: center;
    }
}
