:root {
    // @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,400;1,100&display=swap');
    --background-color: #FFFFFF;
    --secondary-color: #00F3BB;
    --text-color: #060A24;   
    --gradient: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    --font-sans: 'IBM Plex Sans', sans-serif;
    --font-mono: 'IBM Plex Mono', monospace;
    --desktop-breakpoint: 1024px;
    --line-height: 24px;
    --font-size: 16px;
    --margins: 16px;
}