@charset "UTF-8";
:root {
  --background-color: #FFFFFF;
  --secondary-color: #00F3BB;
  --text-color: #060A24;
  --gradient: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --desktop-breakpoint: 1024px;
  --line-height: 24px;
  --font-size: 16px;
  --margins: 16px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: unset;
  text-decoration: unset;
}

h2, h3, p {
  color: var(--text-color);
}

h2.title {
  font-family: var(--font-sans);
  line-height: 42px;
  font-size: 36px;
  margin-bottom: var(--margins);
  font-weight: 400;
}

h3 {
  font-family: var(--font-sans);
  font-weight: 600;
  line-height: 32px;
  font-size: 24px;
}

p {
  font-family: var(--font-mono);
}

.butom {
  width: 100%;
  height: 48px;
  padding: var(--margins) 0;
  background: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  font-family: var(--font-mono);
  font-weight: 500;
}

header {
  width: 100%;
  background-color: var(--background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  left: 16px;
}

header .logo {
  fill: var(--background-color);
}

header nav {
  width: 100%;
}

header nav details summary {
  width: 25px;
  height: 44px;
  padding-top: 10px;
  float: right;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

header nav details summary:before {
  content: "☰";
}

header nav details[open] summary {
  padding-top: 5px;
}

header nav details[open] summary:before {
  content: "×";
  font-size: 32px;
}

header nav details ul {
  width: 100%;
  height: 200px;
  background: var(--gradient);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav details ul li {
  list-style: none;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

header nav details ul li a {
  color: white;
}

.intro-section {
  margin: 20px var(--margins);
  background: var(--background-color);
}

.intro-section p {
  margin-bottom: 36px;
}

.container-polygon {
  width: 100%;
  height: 1242px;
  overflow: visible;
}

.poligono-episodios {
  width: 100%;
  padding: 100px var(--margins);
  padding-bottom: 250px;
  -webkit-clip-path: polygon(0% 60px, 100% 0%, 100% calc(100% - 60px), 0% 100%);
          clip-path: polygon(0% 60px, 100% 0%, 100% calc(100% - 60px), 0% 100%);
  background: var(--gradient);
}

.poligono-episodios h2.title {
  color: white;
}

.poligono-episodios .episodes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poligono-episodios .episodes-container .episode {
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
}

.de-donde-venimos {
  width: 100%;
  height: calc(auto - 200px);
  margin: 0 var(--margins) 30px var(--margins);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.de-donde-venimos .img-origin {
  width: calc(100% - 16px);
  position: relative;
  top: -0px;
}

.de-donde-venimos .img-origin img {
  width: 100%;
}

.de-donde-venimos .text {
  padding-right: 16px;
}

.de-donde-venimos p {
  margin-bottom: 20px;
}

.invitados {
  margin: var(--margins);
  background: var(--background-color);
}

.invitados h2 {
  margin-top: 50px;
}

.invitados .image {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.invitados .img-1 img {
  width: 100%;
}

.invitados .img-2 img {
  width: 100%;
}

.invitados .img-3 img {
  width: 100%;
}

.invitados .img-4 img {
  width: 100%;
}

.invitados .img-5 img {
  width: 100%;
}

.invitados .img-6 img {
  width: 100%;
}

.otros-temas {
  background-color: var(--background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: var(--margins);
  margin-top: 50px;
}

.box-temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.noticias {
  width: 100%;
  height: 341px;
  padding: var(--margins);
  -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  background: var(--gradient);
}

.noticias h2 {
  color: white;
  text-align: center;
  margin-bottom: 36px;
  margin-top: 64px;
}

footer {
  padding-top: 20px;
  margin: 0 30px;
  height: 120px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
}

footer .redes {
  width: 100%;
  height: 28px;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .redes .social {
  width: 14px;
  height: 28px;
  margin: 0 20px;
}

footer .redes .social img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 22px 100px;
    border: 1px solid black;
  }
  header svg {
    width: 36px;
    height: 36px;
    position: static;
  }
  header nav {
    height: 40px;
    width: 100%;
  }
  header nav details {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  header nav details summary {
    display: none;
    position: relative;
    top: 0;
  }
  header nav details summary:before {
    content: "";
  }
  header nav details ul {
    height: 40px;
    width: 100%;
  }
  header nav details ul li {
    height: 40px;
    border: 1px solid black;
  }
  header nav details ul li a {
    color: black;
  }
  .intro-section {
    margin: 20px 100px;
  }
  .intro-section .title {
    font-size: 64px;
    line-height: 84px;
  }
  .intro-section p {
    width: 628px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
  }
  .intro-section .butom-more {
    width: 226px;
    height: 56px;
    margin-bottom: 5px;
  }
  .container-polygon {
    height: 900px;
    overflow: visible;
  }
  .container-polygon .poligono-episodios {
    height: 1042px;
    padding: 186px 100px 232px 100px;
    -webkit-clip-path: polygon(0% 120px, 100% 0%, 100% calc(100% - 120px), 0% 100%);
            clip-path: polygon(0% 120px, 100% 0%, 100% calc(100% - 120px), 0% 100%);
  }
  .container-polygon .poligono-episodios h2 {
    font-size: 48px;
    line-height: 64px;
  }
  .container-polygon .poligono-episodios .episodes-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 72px;
  }
  .container-polygon .poligono-episodios .episodes-container .episode {
    width: 100%;
    height: 232px;
  }
  .de-donde-venimos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 200px 100px 200px;
  }
  .de-donde-venimos .img-origin {
    width: 468px;
    height: 660px;
  }
  .de-donde-venimos .img-origin img {
    width: 100%;
  }
  .de-donde-venimos .text {
    margin-top: 20px;
    margin-left: 62px;
    width: 464px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .de-donde-venimos .text h2 {
    font-size: 48px;
    line-height: 62px;
    margin-bottom: 24px;
  }
  .de-donde-venimos .text p {
    font-size: 16px;
    line-height: 24px;
  }
  .invitados {
    padding: 0px 100px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .invitados h2 {
    font-size: 48px;
    line-height: 64px;
    padding-left: 100px;
  }
  .invitados .guests-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .invitados .guests-images .image {
    width: 480px;
    height: 364px;
  }
  .otros-temas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .otros-temas h2 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 56px;
  }
  .otros-temas .container-topics {
    width: 100%;
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .otros-temas .container-topics .box-temas {
    width: 220px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .otros-temas .container-topics .box-temas h3 {
    width: 220px;
    font-size: 24px;
    line-height: 32px;
  }
  .noticias {
    width: 100%;
    height: 518px;
    -webkit-clip-path: polygon(0% 120px, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 120px, 100% 0%, 100% 100%, 0% 100%);
    padding-top: 213px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .noticias div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .noticias div h2 {
    margin-top: 0;
  }
  .noticias div .butom-news {
    width: 345px;
    height: 56px;
  }
  footer {
    height: 80px;
    margin: 0;
    padding: 0 100px;
    padding-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer p {
    width: 269px;
    height: 28px;
  }
  footer .redes {
    margin: 0;
    width: 234px;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .redes .social {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */